@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

body {
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-shadow-heading {
    text-shadow: 4px 7px 2px var(--tw-text-shadow-color, rgb(0 0 0 / 0.25));
}